.form{
  display: table;
}

.form-rows{
  display: table-row;
  height: 30px;
}

#cart-note-input{
  vertical-align: text-top;
}

#cart-name-input{
  vertical-align: text-top;
  width: 150px;
  height: 35px;
}

#cart-name-button{
  margin-top: 25px;
}

.label-input{
  display: table-cell;
  width: 75px;
  padding-right: 15px;
  height: 35px;
}

.inputs{
  display: table-cell;
}

#grids{
  display: table;
}

.grid-row{
  display: table-row;
}

.grid-