.item-table{
  width:100%;
}

.item-table th, .item-table td{
  border: 3px solid #ffffff;
}

.item-table th{
  height: 70px;
}

.item-table .button-th{
  border: 0px solid #ffffff;
  width: 75px;
}

.item-table .cb-th{
  border: 0px solid #ffffff;
}



/*the animation start from here to bellow*/
.one-delete-td{
  /*animation needs*/
  display: none;
  opacity: 0;

}

.item-table tr:hover .one-delete-td{
  /*border displaying*/
  border: 0px solid #ffffff;

  /*animation needs*/
  display: inline;
  opacity: 1;
  
  /* "both" tells the browser to use the above opacity at the end of the animation (best practice) */
  -webkit-animation: display-none-transition 1s both;
  animation: display-none-transition 1s both;
}

@-webkit-keyframes display-none-transition{
  0% {
    opacity: 0;
  }
}

@keyframes display-none-transition{
  0% {
    opacity: 0;
  }
}