.item-table{
  width:100%;
}

.item-table th, .item-table td{
  border: 3px solid #ffffff;
}

.item-table th{
  height: 70px;
}

.item-table .button-th{
  border: 0px solid #ffffff;
  width: 75px;
}

.item-table .cb-th{
  border: 0px solid #ffffff;
}

.item-table .modifier-price{
  text-align: right;
  width: 120px;
}

.item-table .modifier-qtt{
  text-align: right;
  width: 90px;
  
}

.item-table .priceMod{
  display: inline-block;
  height: 35px;
  width: 75px;
}

.item-table .qttMod{
  display: inline-block;
  height: 35px;
  width: 55px;
}

/*number input arrows, not available for price input*/
input.priceMod::-webkit-outer-spin-button,
input.priceMod::-webkit-inner-spin-button{
  -webkit-appearance: none;
  margin: 0;
}

input.priceMod[type=number]{
  -moz-appearance: textfield;
}


/*the animation start from here to bellow*/
/*delete one item animation*/
.one-delete-td{
  /*animation needs*/
  display: none;
  opacity: 0;

}

.item-table tr:hover .one-delete-td{
  /*border displaying*/
  border: 0px solid #ffffff;

  /*animation needs*/
  display: inline;
  opacity: 1;
  
  /* "both" tells the browser to use the above opacity at the end of the animation (best practice) */
  -webkit-animation: display-none-transition 1s both;
  animation: display-none-transition 1s both;
}

@-webkit-keyframes display-none-transition{
  0% {
    opacity: 0;
  }
}

@keyframes display-none-transition{
  0% {
    opacity: 0;
  }
}
/*END of delete one item animation*/

.item-table .confirmModifier{
  display: inline-block;
  border: none;
  color: black;
}

.item-table .confirmModifier:hover{
  color: yellowgreen;
}

.item-table .confirmModifier:active{
  color: red;
}

